header{
    background-color: #2F1893;
}
.mask{
    width: 60%;   
    color:#FFF;
    font-family: DM Sans, sans-serif;
    font-size: 18px;
    text-align: center; 
    padding-top: 30px;
    margin: auto;
    
}

.mask h2{
    text-align: left;
    width: 100%;
    margin:auto;
    font-size: 45px;
    
}

#top {
    font-size: 8px;
    width: 100%;
    margin: auto;
    text-align: left;
    margin-top:4px;
    font-size:10px;
    margin-bottom: 120px;
}

.user{
    font-size: 12px;
    display: flex;
    margin: auto;
    width: 100%;
    padding-bottom: 45px;
} 

.userpic img{
    height: 68px;
    padding-top: 18px;
}

.name{
    text-align: left;
    font-family: DM Sans;
    padding-left: 15px;
    padding-top: 4px;
}

.name h4{
    font-size: 12px;
    margin-bottom: 0px;
    color: white;
}
.name p{
    font-size: 10px;
    margin-top: 3px;
}
.user ul{
    list-style-type: none;
    padding-left: 0px;
    
}
.user li{
    display: inline-block;
    padding-right: 7px;
}

article ul{
    list-style-type: disc;
}
article li{
    color: #2F1893;
    padding-bottom: 6px;
}

article{
    margin: auto;
    width: 60%;
    font-family: DM Sans;
    font-size: 14px;
}

article h2{
    text-align: left;
    margin-left: 0px;
    margin-top: 8px;
    color: #1E0E62;
    font-size: 30px;
}

h4{
    color: #1E0E62; 
    font-weight: 4px;
}


